.module-wrap {
  /* box-shadow: 0 0 5px 5px #2f559a; */
}
.home-wrap .body .popup .popup-header {
  border-bottom: none;
  background: #273684;
}
.home-wrap .body .popup .popup-header .header-title ul li {
  background: #3362bb;
  border: solid 1px #4cbcf1;
  color: #f5f5f5;
  border-bottom: none;
}
.home-wrap .body .popup .popup-header .header-title ul li:hover {
  background: #3F73D6;
}
.home-wrap .body .popup .popup-header .header-title ul .active {
  background: #00abff;
}
.home-wrap .body .popup .popup-header .header-title ul .active:hover {
  background: #00abff;
}
.home-wrap .body .popup .popup-header .header-ope i {
  color: #2AF5FC;
}
.home-wrap .body .popup .popup-content {
  background: #5b8ccc;
}
